body{
    background-color: darkcyan;
}
#tablazat{
    background-color: bisque;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
table{
    background-color: lightseagreen;
    margin: auto;
    border-radius: 10px;
    
}
td{
    border: 5px solid darksalmon;
}
td:last-child{
    color: antiquewhite;
    font-size: 125%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    text-shadow: mediumaquamarine;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    background-color: antiquewhite;
    line-height: 50px;
    font-size: 150%;
    font-weight: bold;
    border: 5px outset darksalmon;
    border-radius: 20px;
    
}
.kepek{
    height: 50px;
    margin: auto;
    text-align: center;
    
}
ul{
    text-align: justify;
    border-radius: 10px;
}
.egyeb{
    font-size: 100%;
    color: antiquewhite;
}
a{
    text-decoration: none;
    color: wheat;
    font-size: 150%;
}
.link{
    text-align: center;
    border-radius: 10px;
    border: 5px dashed antiquewhite;
}
.link1{
    text-align: center;
    border-radius: 10px;
    border-bottom: 5px dashed antiquewhite;
}
a:hover{
    color: teal;
}
a:active{
    color: teal;
}
.copy{
    background-color: antiquewhite;
    padding-top: 10px;
}
img{
    border-radius: 10px;
}
