body{
    background-color: darkcyan;
}
#tartalom{
    background-color: bisque;
    text-align: center;
    margin: auto;
    width: 750px;
    height: 800px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    text-shadow: mediumaquamarine;
    margin: auto;
    margin-bottom: 25px;
    width: 200px;
    background-color: antiquewhite;
    line-height: 50px;
    font-size: 150%;
    font-weight: bold;
    border: 5px outset darksalmon;
    border-radius: 20px;
    width: 500px;
}
p{
    padding: 0px 100px 0px 100px
}
img{
    width: 400px;
    text-align: center;
    border: 10px double teal;
    border-radius: 20px;
}