body{
    background-color: darkcyan;
}
#tartalom{
    background-color: bisque;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    text-shadow: mediumaquamarine;
    margin: auto;
    margin-bottom: 25px;
    background-color: antiquewhite;
    line-height: 50px;
    font-size: 150%;
    font-weight: bold;
    border: 5px outset darksalmon;
    border-radius: 20px;
}
img{
    width: 400px;
    text-align: center;
    border: 10px double teal;
    border-radius: 20px;
}
.copy{
    background-color: antiquewhite;
    padding-top: 10px;
}